<h3>{{icon}}</h3>

<i class="icon-{{icon}}" data-size="xlrg"></i>
<i class="icon-{{icon}}" data-size="lrg"></i>
<i class="icon-{{icon}}" data-size="med"></i>
<i class="icon-{{icon}}" data-size="sm"></i>

<h4>Usage</h4>

@extend %icon;

@extend %icon-{{icon}};
<pre>
	<code>
	.icon-{{icon}} {

	    
	    

	}
	</code>
</pre>