<h3>{{icon}}</h3>

<i class="icon-{{icon}}" data-size="50"></i>
<i class="icon-{{icon}}" data-size="30"></i>
<i class="icon-{{icon}}" data-size="15"></i>

<h4>Usage</h4>

@extend %icon;

@extend %icon-{{icon}};
<pre>
	<code>
	.icon-{{icon}} {

	    
	    

	}
	</code>
</pre>